{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        net.java.dev.jna/jna {:mvn/version "5.15.0"}
        com.phronemophobic/membrane {;; :local/root "../membrane"
                                     :git/sha "18f8f7057ed8bea9dfe38063b0915c601609da3a"
                                     :git/url "https://github.com/phronmophobic/membrane"
                                     }
        com.phronemophobic.membrane/skialib-macosx-aarch64 {;; :local/root "../membrane/csource/macos-aarch64"
                                                            :mvn/version "0.15-beta"
                                                            }

        com.phronemophobic/spreadsheet { ;; :local/root "../spreadsheet"
                                        :git/url "https://github.com/phronmophobic/spreadsheet"
                                        :git/sha "bc90920c9045e1eacbb9282f45736f59e360ffc3"
                                        }
        ;; com.phronemophobic/schematic {:local/root "../schematic"}
        com.phronemophobic/viscous {;; :local/root "../viscous"
                                    :mvn/version "1.3.5"}
        com.phronemophobic/membrandt {;; :local/root "../membrandt"
                                      :git/sha "66da338b158a58ef48bc3a17ebe25a98e1b11716"
                                      :git/url "https://github.com/phronmophobic/membrandt"}
        ;; com.phronemophobic.membrane/browser {:local/root "../membrane-browser"}
        membrane.alpha/stretch {;; :local/root "../membrane.alpha.stretch"
                                :git/url "https://github.com/phronmophobic/membrane.stretch.alpha"
                                :git/sha "0ff04338b6fffe205f412fe2eaaa500c10ac2bb7"}
        com.phronemophobic/membrane.term {;; :local/root "../term"
                                          :git/url "https://github.com/phronmophobic/membrane.term"
                                          :git/sha "e8f704d44408d135f4ac4ecc8c7acc90c603c6a5"}
        org.clojars.quoll/tiara {:mvn/version "0.3.7"}
        aysylu/loom {:mvn/version "1.0.2"
                     ;; This brings in large, unnecessary clojurescript deps
                     :exclusions [tailrecursion/cljs-priority-map]
                     }
        com.phronemophobic/clong {:mvn/version "1.4.3"
                                  ;; :local/root "../clong/"
                                  ;; :mvn/version "1.4-20240711.022539-7"
                                  }
        
        ;; com.phronemophobic/clj-cef2 {:local/root "../clj-cef"}
        com.phronemophobic/clj-cef2.alpha {;; :local/root "../clj-cef"
                                           :git/sha "e402ef3caf92483116d6fb15b29c8ae21d36c22e"
                                           :git/url "https://github.com/phronmophobic/clj-cef2/"
                                           }

        com.phronemophobic/clj-libretro {:local/root "../clj-libretro"}

        ;; llm stuff
        com.phronemophobic/llama-clj {:local/root "../llama.clj"}
        com.phronemophobic/replog {:local/root "../replog"}

        com.phronemophobic/clj-media {;; :mvn/version "2.3"
                                      :local/root "../clj-media"
                                      }
        com.phronemophobic/derpbot {:local/root "../derpbot"}
        com.phronemophobic/whisper {:local/root "../whisper.clj"}


        com.phronemophobic/clj-webgpu {:local/root "../clj-webgpu"}
        org.clojars.cartesiantheatrics/manifold3d$macosx-arm64 {:local/root "/Users/adrian/workspace/manifold/bindings/java/target/manifold3d-1.0.39.jar" }
        com.phronemophobic.cljonda/webgpu-native-darwin-aarch64 {:mvn/version "v0.19.4.1"}

        com.rpl/specter {:mvn/version "1.1.4"}}
 
 :mvn/repos
 {"jetbrains-intellij-dependencies" {:url "https://packages.jetbrains.team/maven/p/ij/intellij-dependencies"}}

 :aliases
 {

  :local-deps
  {:override-deps
   {com.phronemophobic.membrane/skialib-macosx-aarch64 { ;; :mvn/version "0.14-beta"
                                                        :local/root "../membrane/csource/macos-aarch64"
                                                        }
    com.phronemophobic/membrane {:local/root "../membrane"}
    com.phronemophobic/spreadsheet {:local/root "../spreadsheet"}
    com.phronemophobic/viscous {:local/root "../viscous"}
    com.phronemophobic/membrandt {:local/root "../membrandt"}
    membrane.alpha/stretch {:local/root "../membrane.alpha.stretch"}
    com.phronemophobic/membrane.term {:local/root "../term"}
    com.phronemophobic/clong {:local/root "../clong/"}
    
    ;; com.phronemophobic/clj-cef2 {:local/root "../clj-cef"}
    com.phronemophobic/clj-cef2.alpha { ;; :mvn/version "0.1"
                                       :local/root "../clj-cef"
                                       }

    com.phronemophobic/clj-libretro {:local/root "../clj-libretro"}

    ;; llm stuff
    com.phronemophobic/llama-clj {:local/root "../llama.clj"}
    com.phronemophobic/replog {:local/root "../replog"}

    com.phronemophobic/clj-media {:local/root "../clj-media"}
    com.phronemophobic/derpbot {:local/root "../derpbot"}
    com.phronemophobic/whisper {:local/root "../whisper.clj"}


    com.phronemophobic/clj-webgpu {:local/root "../clj-webgpu"}
    org.clojars.cartesiantheatrics/manifold3d$macosx-arm64 {:local/root "/Users/adrian/workspace/manifold/bindings/java/target/manifold3d-1.0.39.jar" }

    com.phronemophobic/vt {:local/root "../vt" :exclusions [org.clojure/clojurescript]}

    }}

  :project
  {:jvm-opts [;; "-Djna.library.path=/opt/local/lib"
              "-XX:+UnlockDiagnosticVMOptions"
              "-Djdk.attach.allowAttachSelf=true"
              "-XX:-OmitStackTraceInFastThrow"
              "-XX:+DebugNonSafepoints"
              "-Xmx8G"

              "--add-opens=java.base/java.nio=ALL-UNNAMED"
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
              "-Djna.library.path=../whisper.cpp/build/src/"
              ]
   :extra-paths ["notebooks" "demos" "../derpbot/config"]
   :extra-deps
   {com.phronemophobic.cljonda/llama-cpp-gguf-darwin-aarch64 {:mvn/version "b3040"}
    #_#_com.phronemophobic.membrane/skialib-macosx-aarch64 { :local/root "../membrane/csource/macos-aarch64"
                                                            ;; :mvn/version "0.15-beta"
                                                            }

    }
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}
                 slipset/deps-deploy {:mvn/version "RELEASE"}}
          :ns-default build}

  }}}
